.gradient-text {
  background: linear-gradient(
    90deg,
    var(--primary),
    var(--muted),
    var(--secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
