@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #8d99ae;

    --background: 232 11.05% 4.96%;
    --foreground: 232 1.7000000000000002% 98.1%;

    --muted: 232 11.9% 23.56%;
    --muted-foreground: 232 1.7000000000000002% 56.2%;

    --popover: 232 61.6% 8.06%;
    --popover-foreground: 232 1.7000000000000002% 98.1%;

    --card: 232 61.6% 8.06%;
    --card-foreground: 232 1.7000000000000002% 98.1%;

    --border: 232 11.9% 23.56%;
    --input: 232 11.9% 23.56%;

    --primary: 232 17% 62%;
    --primary-foreground: 232 1.7000000000000002% 6.2%;

    --secondary: 232 11.9% 23.56%;
    --secondary-foreground: 232 1.7000000000000002% 98.1%;

    --accent: 232 11.9% 23.56%;
    --accent-foreground: 232 1.7000000000000002% 98.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 232 1.7000000000000002% 98.1%;

    --ring: 232 17% 62%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
